
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
}

#navbar a {
}

main {
}

h1 {
}

h2 {
}
/*
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 3rem;
  }

  h1 {
    font-size: 2rem;
  }
}
*/
